---
- name: Install or update global ping agent
  hosts: all
  become_user: root
  become: true
  become_method: sudo
  vars:
    service_name: "global-ping"
    docker_registry_username: "{{ lookup('env', 'DOCKER_REGISTRY_USERNAME') }}"
    docker_registry_password: "{{ lookup('env', 'CR_PAT') }}"
    dn42:
      ipv4:
        vie1: "172.20.143.43"
        ams1: "172.20.143.44"
        nyc1: "172.20.143.28"
        dal1: "172.20.143.45"
        fra1: "172.20.143.26"
        hkg1: "172.20.143.24"
        sgp1: "172.20.143.30"
        lax1: "172.20.143.27"
        tyo1: "172.20.143.29"

      ipv6:
        vie1: "fdda:8ca4:1556:a002::"
        ams1: "fdda:8ca4:1556:c001::"
        nyc1: "fdda:8ca4:1556:5001::"
        dal1: "fdda:8ca4:1556:d001::"
        fra1: "fdda:8ca4:1556:3001::"
        hkg1: "fdda:8ca4:1556:b001::"
        sgp1: "fdda:8ca4:1556:1001::"
        lax1: "fdda:8ca4:1556:1::"
        tyo1: "fdda:8ca4:1556:6001::"
    docker_subnet_overrides:
      ams1: "192.168.254.0/30"
      lax1: "192.168.254.0/30"
      sgp1: "192.168.254.0/30"
      vie1: "192.168.253.0/30"

  tasks:

    - name: Prepare target directory
      ansible.builtin.file:
        path: "{{ ansible_user_dir }}/services/{{ service_name}}"
        state: directory
        mode: 0755
      register: service_dir

    - name: Print out service directory
      ansible.builtin.debug:
        var: service_dir.path

    - name: Copy contents to service directory
      ansible.posix.synchronize:
        recursive: true
        compress: true
        delete: false
        src: "../services/global-ping/"
        dest: "{{ service_dir.path }}"
        rsync_opts:
          - "--exclude=.env.j2"
          - "--exclude=.env"
          - "--exclude=hub.docker-compose.yaml"
      when:
        - service_dir.path != ''
        - service_dir.path != '/'
        - service_dir.path != ansible_user_dir

    - name: Generate env file
      ansible.builtin.template:
        src: "../services/global-ping/.env.j2"
        dest: "{{ service_dir.path }}/.env"
      when:
        - service_dir.path != ''
        - service_dir.path != '/'
        - service_dir.path != ansible_user_dir
      vars:
        service_dn42_ipv4: "{{ dn42.ipv4[inventory_hostname] }}"
        service_dn42_ipv6: "{{ dn42.ipv6[inventory_hostname] }}"
        subnet_override: "{{ docker_subnet_overrides[inventory_hostname] | default('192.168.4.0/30') }}"

    - name: Login into container registry
      community.docker.docker_login:
        registry_url: ghcr.io
        username: "{{ docker_registry_username }}"
        password: "{{ docker_registry_password }}"

    - name: Launch docker container
      community.docker.docker_compose_v2:
        recreate: always
        project_src: "{{ service_dir.path }}"
        state: present
        files: 
          - "agent.docker-compose.yaml"
      register: docker_compose_result
    
    - name: Launch init script
      when: docker_compose_result.changed
      ansible.builtin.shell:
        chdir: "{{ service_dir.path }}"
        cmd: |
          if [ -d init.d ]; then
            for script in init.d/*.sh; do
              echo "Invoking script $script"
              $script
            done
          fi

