networks:
  globalping_web:
    name: globalping_web
    driver: bridge
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 192.168.252.0/30
services:
  web:
    container_name: globalping-web
    image: ghcr.io/internetworklab/globalping-web:latest
    pull_policy: always
    ports:
      - "45843:80"
    volumes:
      - "./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      globalping_web:
        ipv4_address: 192.168.252.2
