networks:
  globalping_web:
    name: globalping_web
    driver: bridge
    enable_ipv6: false
    ipam:
      driver: default
      config:
        - subnet: 192.168.252.0/30
  globalpinghub:
    external: true
volumes:
  globalping_acme_challenge:
    external: true
  globalping_acme_certs:
    external: true
services:
  web:
    container_name: globalping-web
    image: ghcr.io/internetworklab/globalping-web:latest
    pull_policy: always
    ports:
      - "45843:80"
    volumes:
      - "./nginx/conf.d/default.conf:/etc/nginx/conf.d/default.conf:ro"
      - "./testdata:/usr/share/nginx/html/testdata:ro"
      - "globalping_acme_challenge:/usr/share/nginx/acme-challenge"
      - "globalping_acme_certs:/etc/nginx/acme-certs:ro"
      - "./public/flags:/usr/share/nginx/html/assets/flags/svg:ro"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      globalping_web:
        ipv4_address: 192.168.252.2
      globalpinghub:
